/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GLOBAL DEFAULT PARAMS, USED IN CONFIGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {
    help    = false
    version = false
    monochrome_logs = false
}


process {
    executor = 'slurm'
    cpus = 10
    time = '12hours'
    queue = 'general'
    memory = ''
    email = ''

    withName: getSRAData {
        cpus = 4
        time = '24hours'
    }

    withName: fastqc {
        cpus = 4
    }

}

dag.overwrite = true
report.overwrite = true
